<html ng-app="NoteWrangler">
<head>
	<title>Note Wrangler</title>

</head>
<body>
	<h1>Note Wrangler</h1>
	<div ng-view></div>
</body>

<!-- App -->
<script src="assets/javascript/app.js"></script>
<script src="assets/javascript/routes.js"></script>

<!-- Controllers -->
<script src="assets/javascript/controllers/notesIndexController.js"></script>
<script src="assets/javascript/controllers/notesShowController.js"></script>
<script src="assets/javascript/controllers/notesCreateController.js"></script>
<script src="assets/javascript/controllers/notesEditController.js"></script>

<!-- Services -->
<script src="assets/javascript/services/note.js"></script>


</html>